html {
  background-color: white; 
  /* background: url('../img/hongkong.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#multiple-colors {
  font-size: 14px;
  background: transparent;

}

body {
font-family: 'Open Sans', sans-serif;
}

h4 {
font-size: 13px;
}

p {
font-size: 14px;
}

/* textarea */
div.justified {
  display: flex;
  justify-content: center;
}

textarea:focus, input:focus{
    outline: none;
}
/* textarea */

/*Tooltip div styling */
.tooltipDiv {
      display: none;
      width: 250px;
      z-index: 101;
      background-color: #fff;
      border: 3px solid #666;
      padding: 12px 12px 12px 12px;
      border-radius: 0px 25px 0px 25px;
}
/*Tooltip div styling */


.showSelected {
	height: 10px;
	width: 1px;
}

/* button styling */
.button-design {
  width: 150px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  margin: 0.25em;
/* drop shadow box outline */
-webkit-box-shadow: 0px 0px 16px 8px rgba(201,201,201,0.2);
-moz-box-shadow: 0px 0px 16px 8px rgba(201,201,201,0.2);
box-shadow: 0px 0px 16px 8px rgba(201,201,201,0.2);
/* drop shadow box outline */
}

.button-design1 {
  background-color: lightgreen;
}

.button-design2 {
  background-color: #e8e8e8;
}

.button-design3 {
  background-color: #e0d699;
}

/* button styling */

/* text css */
.align-left {
  text-align: left;
}

.maincontent-inner{
 background-image: linear-gradient(to right, #33CCCC , #CC6699);
 height: 2em;
color:white;
text-transform:uppercase;
vertical-align: center;
}

.maincontent-text {
  line-height: 35px;
}

/* text css */

/* margin management */
.margin-top-half {
  margin-top: 15px;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-allaround {
  margin: 0.5em;
}
/* margin management */

/* padding management */
.basic-padding-left-right{
padding-right: 10px;
padding-left: 10px;
}

/* padding management */

/* highlight word */
.color-1 {
  background-color: #ffb2b2;
}

.color-2 {
  background-color: #FFC300;
}

/* highlight word */